---
import regions from '@data/regions.json'
import LayoutArticlePage from '@layouts/LayoutArticlePage.astro'

const allRegions = regions.regions
---

<LayoutArticlePage title="Regionen" noindex={true}>
  <h1>Regionen</h1>
  <div>
    {
      allRegions.map((region) => {
        return (
          <div>
            <a
              href={`/regions/${region.slug}`}
              class="mb-5 border-b border-sky-200 pb-5 first:border-t"
            >
              <h2 class="!mt-6">Region {region.name} öffnen</h2>
            </a>
            <p class="my-1">
              Gebiet:{' '}
              <>
                <code>{JSON.stringify(region.bounds)}</code>
                <br />
              </>
              Zentrum:{' '}
              <a
                href={`https://www.openstreetmap.org/#map=12/${region.center.reverse().join('/')}`}
              >
                <code>{JSON.stringify(region.center)}</code>
              </a>
            </p>
            <p class="my-1">
              <a download href={region.region}>
                Download GeoJSON
              </a>
            </p>
          </div>
        )
      })
    }
  </div>
</LayoutArticlePage>
